<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <title>*|SUBJECT|*</title>

    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #EEEEEE;width: 100%;">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="margin: 0;padding: 0;background-color: #EEEEEE;height: 100%;width: 100%;">
                <tr>
                    <td align="center" valign="top" style="border-collapse: collapse;">
                        <!-- // BEGIN CONTAINER -->
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainer">
                            <tr>
                                <td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // BEGIN BODY -->
                                    <table border="0" cellpadding="40" cellspacing="0" width="100%" id="templateBody" style="background-color: #EEEEEE;border-top: 0;border-bottom: 0;">
                                        <tr>
                                            <td align="center" valign="top" style="border-collapse: collapse;padding-bottom:10px;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="600">
                                                    <tr>
                                                        <td align="center" valign="bottom" style="border-collapse: collapse;">
                                                            <table border="0" cellpadding="40" cellspacing="0" width="600" id="bodyContentBlock" style="background-color: #FFFFFF;border-top: 1px solid #DDDDDD;border-bottom: 0;">
                                                                <tr>
                                                                    <td align="left" valign="top" style="padding-top: 20px;padding-bottom: 60px;border-collapse: collapse;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tr>
                                                                                <td width="100%" class="headerContent" mc:edit="header_content00" style="border-collapse: collapse;color: #505050;font-family: Helvetica;font-size: 20px;font-weight: bold;line-height: 100%;text-align: center;vertical-align: top;">
                                                                                    <img src="http://www.hoeveelkrijgjij.nl/assets/HKJ1.png" height="57" width="247" style="display: block;margin: 0 auto 40px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="100%" class="headerContent" mc:edit="header_content01" style="border-collapse: collapse;color: #505050;font-family: Helvetica;font-size: 20px;font-weight: bold;line-height: 100%;text-align: center;vertical-align: top;">
                                                                                    <h1 style="color: #E9A825;display: block;font-family: Helvetica;font-size: 32px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;">JOUW AANGIFTE OVER *|JAAR|*</h1>
                                                                                    <h2 style="color: #707070;display: block;font-family: Helvetica;font-size: 32px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;">Je kunt terugkrijgen: *|TERUGGAVE|*</h2>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tr>
                                                                                <td valign="top" class="bodyContent" style="padding-top: 20px;border-collapse: collapse;color: #505050;font-family: Helvetica;font-size: 13px;line-height: 150%;text-align: center;" mc:edit="body_content00">
                                                                                    <p><strong>We hebben de volgende gegevens van je ontvangen:</strong></p>

                                                                                    <table style="margin:0 auto;width:100%;color: #505050;font-family: Helvetica;font-size: 13px;line-height: 150%;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="text-align: right;width: 50%;border-collapse: collapse;"><strong>Voornaam:</strong> &nbsp;</td>
                                                                                                <td style="text-align: left;width: 50%;border-collapse: collapse;">*|VOORNAAM|*</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td style="text-align: right;width: 50%;border-collapse: collapse;"><strong>Achternaam:</strong> &nbsp;</td>
                                                                                                <td style="text-align: left;width: 50%;border-collapse: collapse;">*|ACHTERNAAM|*</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td style="text-align: right;width: 50%;border-collapse: collapse;"><strong>E-mailadres:</strong> &nbsp;</td>
                                                                                                <td style="text-align: left;width: 50%;border-collapse: collapse;">*|EMAIL|*</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td style="text-align: right;width: 50%;border-collapse: collapse;"><strong>Geboortedatum:</strong> &nbsp;</td>
                                                                                                <td style="text-align: left;width: 50%;border-collapse: collapse;">*|GEBOORTE|*</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td style="text-align: right;width: 50%;border-collapse: collapse;"><strong>BSN:</strong> &nbsp;</td>
                                                                                                <td style="text-align: left;width: 50%;border-collapse: collapse;">*|BSN|*</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <br>
                                                                                        *|OPGAVES|*
                                                                                        <br>
                                                                                            </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td valign="top" class="bodyContent" style="padding-top: 20px;background-color: #EEEEEE;border-collapse: collapse;color: #505050;font-family: Helvetica;font-size: 13px;line-height: 150%;text-align: center;" mc:edit="body_content01">
                                                                                                    <h3 style="color: #505050;display: block;font-family: Helvetica;font-size: 20px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;">Nog niet betaald?</h3>
                                                                                                    <h3 style="color: #505050;display: block;font-family: Helvetica;font-size: 20px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;"><a href="*|BETAAL_URL|*" style="font-weight: bold;color: #E9A825;text-decoration: underline;" target="_blank">Klik hier om alsnog te betalen met iDEAL</a></h3>
                                                                                                    <em>Voor &euro; *|ONKOSTEN|* vragen wij &euro; *|TERUGGAVE|* voor je terug bij de Belastingdienst.</em>

                                                                                                    <p>Je aangifte wordt verwerkt als we je betaling hebben ontvangen.<br>
                                                                                                            Je ontvangt een bevestiging als je aangifte is verwerkt door de Belastingdienst.</p><br>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </table>
                                                                                            </td>
                                                                                            </tr>
                                                                                            </table>
                                                                                            </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" valign="top" style="padding-right: 50px;padding-left: 50px;border-collapse: collapse;">
                                                                                                    <img src="http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/leaftshadow.png" height="20" width="500" style="display: block;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
                                                                                                </td>
                                                                                            </tr>
                                                                                            </table>
                                                                                            </td>
                                                                                            </tr>
                                                                                            </table>
                                                                                            <!-- END BODY \ -->
                                                                                            </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" valign="top" style="border-collapse: collapse;">
                                                                                                    <!-- // BEGIN FOOTER -->
                                                                                                    <table border="0" cellpadding="20" cellspacing="0" width="100%" id="templateFooter" style="border-top: 0;">
                                                                                                        <tr>
                                                                                                            <td align="center" valign="top" style="padding-bottom: 40px;border-collapse: collapse;">
                                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="580">
                                                                                                                    <tr>
                                                                                                                        <td colspan="3" valign="top" class="footerContent" style="padding-bottom: 20px;border-collapse: collapse;color: #808080;font-family: Helvetica;font-size: 10px;line-height: 150%;text-align: center;" mc:edit="footer_social">
                                                                                                                            <h4 style="color: #909090;display: block;font-family: Georgia;font-size: 10px;font-style: normal;font-weight: normal;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;">Druk deze e-mail af voor je eigen administratie.</h4>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                    <tr>
                                                                                                                        <td valign="top" class="footerContent" mc:edit="footer_content" style="border-collapse: collapse;color: #808080;font-family: Helvetica;font-size: 10px;line-height: 150%;text-align: center;">
                                                                                                                            <a href="http://www.hoeveelkrijgjij.nl" target="_blank" style="color: #606060;font-weight: normal;text-decoration: underline;">www.hoeveelkrijgjij.nl</a>&nbsp;-&nbsp;<a href="mailto:info@hoeveelkrijgjij.nl" target="_blank" style="color: #606060;font-weight: normal;text-decoration: underline;">info@hoeveelkrijgjij.nl</a><br>
                                                                                                                                Hoeveelkrijgjij.nl, handelsnaam van No Tax No Pay - BECON 607.150 - BTW NL109191870B01 - KVK 53100247 - Rabobank 1383.87.916 - IBAN NL69 RABO 0138 3789
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                    <!-- END FOOTER \ -->
                                                                                                </td>
                                                                                            </tr>
                                                                                            </table>
                                                                                            <!-- END CONTAINER \ -->
                                                                                            </td>
                                                                                            </tr>
                                                                                            </table>
                                                                                            </center>
                                                                                            </body>
                                                                                            </html>